.form-container {
    width: 100%;
    display: inline-block;
}

.form {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
}

.form-full-width {
    width: 100%;
}
.form-full-medium {
    width: 50%;
    padding-right: 0px;
}
.form-full-light {
    width: 33.33%;
    padding-right: 0px;
}